footer{
    background-color:#139e8e;
    color: white;
    padding: 20px 0;
    text-align: center;
    bottom: 0;
    .footer-content{
        max-width: 1200px;
        margin: 0 auto;
        
        p{
            margin: 0;
            font-size: 14px;
        }
        a{
            color: inherit;
            text-decoration: none;
            font-weight: bold;
            transition: color 0.3s;
             &:hover{
                    color: #14B8A6;
                }
        }
        .social-links{
            margin-top: 10px;
            a{
                color: inherit;
                font-size: 18px;
                 margin: 0 10px;
                 text-decoration: none;
                transition: color .3s
                ease;
                &:hover{
                    color: #8d410e;
                }
            }
        }
    }
}