body{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: sans-serif,Arial;
}

.common-btn{
  background-color: #139e8e;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin:5px ;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;

  &:hover{
    background-color: #14B8A6;
  }
  @media (max-width:768px){
    font-size: 16px;
  }
}